<div class="logo">
  <a href="#"><images src="images/purpleBanjo.jpg" alt="My Stolen Image" /></a>
</div>
<div class="navbar">
  <div class="icon-bar" onclick="Show()">
    <i></i>
    <i></i>
    <i></i>
  </div>

  <ul id="nav-lists">
    <li class="close"><span onclick="Hide()">×</span></li>
    <li><a href="#">Home</a></li>
    <li><a href="views/elec-charging.html">Electric</a></li>
    <li><a href="views/dylanThomas.html">Thomas</a></li>
    <li><a href="views/EdgarAllanPoeVI.html">Edgar Allan Poe</a></li>
    <li><a href="views/google-map.html">Map</a></li>
    <li><a href="views/ReturnOfDrFu-Manchu.html">Dr Fu-Manchu</a></li>
    <li><a href="views/contact.html">Contact</a></li>
  </ul>
</div>
