<meta
  name="viewport"
  content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
/>
<meta
  name="description"
  content="This produces a list of alternative fuel stations in my neighborhood."
/>
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/all.css" />
<link rel="stylesheet" href="css/index.css" />
<!--
    manifest.json provides metadata used when your web app is added to the
    homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
  -->
<link rel="manifest" href="manifest.json" />

<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="application-name" content="Electric Charging Stations" />
<meta name="apple-mobile-web-app-title" content="Electric Charging Stations" />
<meta name="theme-color" content="#FFFD00" />
<meta name="msapplication-navbutton-color" content="#FFFD00" />
<meta
  name="apple-mobile-web-app-status-bar-style"
  content="black-translucent"
/>
<meta name="msapplication-starturl" content="/index.html" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link rel="icon" sizes="128x128" href="images/icon-128x128.png" />
<link rel="apple-touch-icon" sizes="128x128" href="images/icon-128x128.png" />
<link rel="icon" sizes="192x192" href="icon-192x192.png" />
<link rel="apple-touch-icon" sizes="192x192" href="images/icon-192x192.png" />
<link rel="icon" sizes="256x256" href="images/icon-256x256.png" />
<link rel="apple-touch-icon" sizes="256x256" href="images/icon-256x256.png" />
<link rel="icon" sizes="384x384" href="images/icon-384x384.png" />
<link rel="apple-touch-icon" sizes="384x384" href="images/icon-384x384.png" />
<link rel="icon" sizes="512x512" href="images/icon-512x512.png" />
<link rel="apple-touch-icon" sizes="512x512" href="images/icon-512x512.png" />
