<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
    />
    <meta charset="utf-8" />
    <title>Contact Form</title>
    <meta
      name="description"
      content="This produces a list of electrical charging stations in my neighborhood."
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/contact.css" />

  </head>

  <body>
    <div class="container">
      <header>
        <h1>Contact Form</h1>
        <header class="header">Contact Form</header>
        <hgroup>
          <h1 id="site-logo"><images src="../images/nrl-symbol.png" alt="NRL logo"></h1>
          <h2 id="site-description">Site Description</h2>
        </hgroup>

        <nav>
          <ul id="main-nav" class="clearfix">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/elec-charging.html">Electric</a></li>
            <li><a href="../views/dylanThomas.html">About</a></li>
            <li><a href="../views/contact.html">Contact</a></li>
          </ul>
          <!-- /#main-nav -->
        </nav>
      </header>
    <form class="simple-form">
      <label>First Name</label>
      <input id="firstName" type="text" />

      <label>Last Name</label>
      <input id="lastName" type="text" />

      <label>Job</label>
      <input id="job" type="text" />

      <label>Age</label>
      <input id="age" type="text" />

      <label>Email</label>
      <input id="email" type="text" />

      <button>Submit</button>
    </form>

    <footer class="footer"></footer>
  </body>
</html>
