<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Contact Form</title>
    <!-- partial:head/head.html -->
    <!-- partial -->
    <!-- partial:head/headViews.html -->
    <!-- partial -->
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Contact Form</h1>
      </header>

      <!-- partial:nav/nav.html -->
      <!-- partial -->
      <!-- partial:nav/navViews.html -->
      <!-- partial -->

      <form class="simple-form">
        <label>First Name</label>
        <input id="firstName" type="text" />

        <label>Last Name</label>
        <input id="lastName" type="text" />

        <label>Job</label>
        <input id="job" type="text" />

        <label>Age</label>
        <input id="age" type="text" />

        <label>Email</label>
        <input id="email" type="text" />

        <button>Submit</button>
      </form>

      <footer class="footer">
        <!-- partial:foot/foot.html -->
        <!-- partial -->
      </footer>
    </div>
  </body>
</html>
