<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dylan Thomas</title>
    <!-- partial:head/head.html -->
    <!-- partial -->
    <!-- partial:head/headViews.html -->
    <!-- partial -->
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Dylan Thomas</h1>
      </header>

      <!-- partial:nav/nav.html -->
      <!-- partial -->
      <!-- partial:nav/navViews.html -->
      <!-- partial -->

      <div class="container">
        <section class="card">
          <p>
            Dylan Thomas: <br />Do Not Go Gentle Into That Good Night <br />Do
            not go gentle into that good night, <br />Old age should burn and
            rave at close of day;<br />
            Rage, rage against the dying of the light.
          </p>
        </section>
        <section class="card">
          <p>
            Though wise men at their end know dark is right, <br />Because their
            words had forked no lightning they <br />Do not go gentle into that
            good night.
          </p>
        </section>
        <section class="card">
          <p>
            And you, my father, there on the sad height, <br />Curse, bless, me
            now with your fierce tears, I pray. <br />Do not go gentle into that
            good night. <br />Rage, rage against the dying of the light.
          </p>
        </section>
      </main>
      <footer>
        <!-- partial:foot/foot.html -->
        <!-- partial -->
      </footer>
    </div>
  </body>
</html>
