<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Google Maps</title>
    <!-- partial:head/head.html -->
    <!-- partial -->
    <!-- partial:head/headViews.html -->
    <!-- partial -->
  </head>
  <body>
    <div class="container">
      <header>
        <h1>My First Google map</h1>
      </header>
      <!-- partial:nav/nav.html -->
      <!-- partial -->
      <!-- partial:nav/navViews.html -->
      <!-- partial -->

      <div id="map"></div>

      <footer class="footer">
        <!-- partial:foot/foot.html -->
        <!-- partial -->
      </footer>
    </div>

    <script>
      // Set up map
      function initMap() {
        // Add your map here.
        console.log("Google Maps API version: " + google.maps.version);
        // Where the map is centred (look up on google maps)
        var ccd = { lat: 29.566076, lng: -98.530297 };

        // Create map object, level of zoom
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: ccd,
        });

        var geocoder = new google.maps.Geocoder();
        var incident_location = "San Antonio, TX";

        geocoder.geocode({ address: incident_location }, function (results) {
          var emoji = "../images/poop.png";
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            animation: google.maps.Animation.DROP,
            icon: emoji,
          });
        });
      }
    </script>

    <!--
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=weekly
        &key=AIzaSyDiUKIr1B5Nl30qvIMAnBaajh46Xh02BPI&callback=initMap">
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=weekly
    &key=AIzaSyDrPA7woqjDJkNOSdzJpgeO4Qt0RoDHwlI&callback=initMap">
</script>

-->

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?v=weekly&key=AIzaSyC4ipNOlgQdy9vO7GVw-gtNp7ARjvetcWY&callback=initMap"
    ></script>
  </body>
</html>
