<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Grail Layout</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/grail.css" />
  </head>
  <body>
    <header class="header">
      <p>Header</p>
    </header>

    <div class="wrapper">
      <div class="navigator">
        <p>navigator</p>
      </div>

      <div class="sidebar">
        <p>Sidebar</p>
      </div>
    </div>

    <section class="content">
      <p>Main content of the page</p>
    </section>

    <footer class="footer">
      <p>Footer</p>
    </footer>
  </body>
</html>
