<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Responsive Design Lab</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet" href="../css/grid.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="container-header">This is my heading</div>
      <div class="container-nav">
        <div> a </div>
        <div> ab </div>
        <div> ac </div>
        <div> ad </div>
        <div> ae </div>
        <div> af </div>
        <div> ag </div>
      </div>

      <content class="container-content">
        <section class="aside">
          This is the sidebar.
        </section>
  

      <section class="main">
        This will be the content column
      </section>
    </aside>

    <footer class="container-footer"><i class="fa fa-copyright" aria-hidden="false"></i> 2020</footer>
  </body>
</html>
