<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Named Grid Areas</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/namedAreas.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="header"><h1>Header</h1></div>
      <div class="navbar">Navigation
          <div class="Menuitem">Home</di>
          <div class="Menuitem">Poe</div>
          <div class="Menuitem">Doyle</div>
          <div class="Menuitem">Fu-Manchu</div>
          <div class="Menuitem">Freeman</div>
          <div class="Menuitem">Electric</div>
          <div class="Menuitem">Contact</div>
          <div class="Menuitem">About</div>
      </div>
      <div class="sidebar">Sidebar</div>
      <div class="content">Content</div>
      <div class="footer">Footer</div>
    </div>
  </body>
</html>
