<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Two Column Grid</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/twoColumn.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">My header</header>
      <nav class="navbar">Navigation</navbar>
      <aside class="sidebar">Sidebar</aside>
      <article class="content">
        <h1>2 column, header, navigation and footer</h1>
        <p>
          This example uses line-based positioning, to position the header and
          footer, stretching them across the grid.
        </p>
      </article>
      <footer class="footer">My footer</footer>
    </div> <!-- end container div -->
  </body>
</html>
