/* || general styles */

html {
  font-family: helvetica, arial, sans-serif;
  background-color: #FFFD00;
  color: rgb(53, 10, 134)
}

body {
  /*   font: 0.9em/1.2 Arial, Helvetica, sans-serif; */
  width: 100%;
  margin: 1em auto;
  align-items: center;
  background-color: rgb(241, 241, 216);
  max-height: 90vh;
}

.container {
  display: grid;
  width: 100%;
  max-height: 90vh;
  grid-template-areas: "header  header"
                       "nav   nav"
                       "aside main"
                       "footer  footer";
}

h1, h2 {
  font-family: 'helvetica', sans-serif;
}

/* header styles */

header {
  grid-area: header;
  background-color: rgb(235, 235, 131);
  box-sizing: border-box;
  display: grid;
  padding: 10px;
  width: 100%;
}

header p {
  font-size: 1.0rem;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

/* navigation styles */

nav ul li a {
  color: rgb(73, 8, 13);
}

nav ul {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 7.8rem;
  font-size: 1.5em;
  background: rgb(136, 86, 185);
  /*padding-right: 19px;*/
}

.banner {
  align-content: center;
  display: none;
  justify-content: center;
  width: 100%;
}
/* link styles */

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}


a:link {
  color: #011053;
}

a:visited {
  color: rgb(114, 101, 231);
}

a:focus {
  border-bottom: 1px solid;
  background: rgb(45, 36, 94);
}

a:hover {
  border-bottom: 1px solid;     
  background: rgb(27, 31, 94);
}

a:active {
  background: #4c028a;
  color: rgb(93, 71, 153);
}

a[href*="http"] {
  background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

/* section styles */

article {
  width: 100%;
}

article p {
  margin: 5px 0;
}

footer {
  grid-area: footer;
  background-color: #FFFD00;
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5%;
  }
}